body {
    background-color: #040204;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;   
}

figure .logo {
    position: relative;
    max-width: 100px;
    bottom: 3vh;
    left: 39vw;
    z-index: 1;
}
