body {
    background-color: #040204;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

figure .construction {   
    height: 70vh;   
}

figure .logo {
    position: relative;
    max-width: 100px;
    bottom: 10vh;
    left: 15vw;
    z-index: 1;
}
